/01vitereact
/02counter
/03tailwindprops
/04bgchanger
/05passwordGenrator
/06currencyConverter
/07router
/08minicontext
/09themeswitcher
/10todolistlocalstorage
/customReact
/my-app
/package-lock.json
/reduxToolkitTodo